# gradle

.gradle/
.cache/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/fabric/versions/
/forge/versions/
/neoforge/versions/

# teakit

.teakit/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

node_modules
scripts/texture-generator/generated/**/*.json
scripts/texture-generator/generated/**/*.png
